.inscription-home {
    background-color: $red;
    padding-top: 15vh;
    padding-bottom: 15vh;
    .container {
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
        margin: 0px;
    }
    .inscription-section {
        width: 100%;
        padding: 8vh 12vw;
        p {
            margin-top: 2em;
            margin-bottom: 5em;
            font-family: $font-family-sans-serif;
            font-weight: 300;
            width: 100%;
            font-size: 1.2em;
        }
        h2 {
            font-size: 2em;
            font-weight: 700;
            width: 100%;
            padding-bottom: 0.2em;
        }
        h4 {
            margin-top: 1.2em;
            width: 100%;
        }
        .container-text {
            position: relative;
            width: 100%;
            display: block;
        }
        .container-form {
            width: 100%;
            float: right;
        }
        .inscription-equation {
            font-size: 2em;
        }
        .slogan{
          width: 40%;
          position:absolute;
          top: 1em;
          right: 3em;
          opacity: 0.5;
        }
        form {
            margin: 0 auto;
            margin-top: 2em;
            width: 60%;
            display: block;
            position: relative;

            ::placeholder {
              color:$white;
              font:$font-family-sans-serif;
              font-weight: 300;

            }
        }
        input {
            width: 100%;
            background-color: $red;
            border: none;
            border-bottom: 2px solid $white;
            font:$font-family-sans-serif;
            font-weight: 300;
            font-size:1.2em;
            margin-bottom: 2em;
            padding: 1em 0.5em;
        }
        .submitButton {
            float: right;
            font-family: $font-family-sans-serif;
            font-weight: 300;
            font-size: 1.2em;
            color: $red;
            background-color: $white;
            border-radius: 5px;
            border: 3px solid $white;
            padding: 0.7em 2em;
            -webkit-box-shadow: 0px 0px 20px 2px rgba(163, 33, 33, 1);
            -moz-box-shadow: 0px 0px 20px 2px rgba(163, 33, 33, 1);
            box-shadow: 0px 0px 20px 2px rgba(163, 33, 33, 1);
            transition: all 150ms ease-in-out;

            &:hover {
              text-decoration: none;
              color: $red;
              cursor: pointer;
              -webkit-box-shadow: 0px 10px 65px 2px rgba(163, 33, 33, 1);
              -moz-box-shadow: 0px 10px 65px 2px rgba(163, 33, 33, 1);
              box-shadow: 0px 10px 65px 2px rgba(163, 33, 33, 1);
            }
            &:active {
                color: $red;
                outline: none;
            }
        }
    }
}

.ng-modal{
    position: absolute;
    background-color: #FFF;
    width: 60%;
    border-radius: 5px;
    padding: 2em 3em;
    font-family: $font-family-sans-serif;
    margin-left: 7.5%;
    -webkit-box-shadow: 0px 0px 20px 2px rgba(163, 33, 33, 1);
    -moz-box-shadow: 0px 0px 20px 2px rgba(163, 33, 33, 1);
    box-shadow: 0px 0px 20px 2px rgba(163, 33, 33, 1);

    ng-modal-close {
      background-color: $red;
    }

    h2 {
      color:$red;
    }

    p {
      color:$brand_gray;
      margin-bottom: 1em !important;
    }
}

@media (max-width: $screen-sm-min) {
.inscription-home {
    .inscription-section {
        display: block;
        padding: 5vh 5vw;
        .container-text {
            width: 100%;
            .slogan {
                display:none;
            }
        }
        p {
            margin-top: 1em;
            margin-bottom: 2em;
        }
        form {
            width: 80%;
        }
    }
  }

  .ng-modal{
  width: 80%;
  margin-left: 5%;
  }  
}



@media (max-width: $screen-xs-min) {
    .inscription-home {
        .inscription-section {
            form {
                width: 90%;
            }
        }
    }

    .ng-modal {
      margin-top: -50%;
    }
}
