<div class="inscription-section reveal">
    <div class="container-text">
        <h1>{{= inscription.title }}</h1>
        <p class="inscription-content">{{= inscription.intro }}</p>
        <img class="slogan" src="{{= inscription.slogan }}" alt="You + Us = Awesome">
    </div>
    <div class="container-form">
        <!--Google Form-->
        <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"></iframe>
        <form action="https://docs.google.com/forms/d/e/1FAIpQLSexDWfM8KBIS0wN-GcDye_FR5_t8sSp1-el9H5TQ2eFk19Wxw/formResponse" method="post" target="hidden_iframe" ng-init="submitted = true" ng-submit="submitted=false;">
            <div>
                <input type="text" jsname="YPqjbf" autocomplete="off" tabindex="0" aria-label="Adresse mail " aria-describedby="i.desc.397540741 i.err.397540741" name="entry.1689180257" value="" dir="auto" data-initial-dir="auto" data-initial-value="" placeholder="Adresse email" required>
                <button type="submit" value="Submit" class="submitButton">Envoyer</button>
            </div>
        </form>
    </div>
    <modal-dialog ng-hide="submitted" ng-click="submitted = true">
        <h2>Inscription validée !</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut sollicitudin libero. Nunc mollis quam a nisl varius congue. Curabitur eget consequat nulla, sed accumsan dolor.</p>
    </modal-dialog>
</div>
